.main {
    background-image: url(images/image-1.png);
    width: 100%;
    height: 600px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar ul {
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
}

.navbar ul li a:hover {
    background-color: skyblue;
}

.navbar ul ul {
    position: absolute;
    background-color: yellowgreen;
    top: 43px;
    left: 9999px;

}
.navbar ul ul li {
    width: 220px;
    text-align: center;
    padding-right: 50px;
}
.navbar ul li:hover ul {
    left: 0;
}


.slider h1 {
    margin-left: 50px;
    margin-top: 200px;
    color: orangered;
}
.slider p {
    margin: 10px;
}

.products h1 {
    text-align: center;
    color: grey;
}
.product-1 img {
    height: 380px;
    width: 350px;
}
.product-2 img {
    height: 380px;
    width: 350px;
}
.product-3 img {
    height: 380px;
    width: 350px;
}
.all {
    float: left;
    margin-left: 70px;
}

.product-4 img {
    height: 380px;
    width: 350px;
}
.product-5 img {
    height: 380px;
    width: 350px;
}
.product-6 img {
    height: 380px;
    width: 350px;
}
.ladies {
    float: left;
    margin-left: 70px;
    margin-top: 20px;
}

.btn {
    text-align: center;
}
.btn button {
    background-color: grey;
    height: 50px;
    width: 120px;
    border-radius: 10px;
}
.btn a {
    text-decoration: none;
    color: #87ebc1;
    font-size: 15px;
}

.visionheading h1 {
    text-align: center;
    color: grey;
}

.vision {
    background-image: url(images/vision.jpg);
    width: 100%;
    height: 600px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}
.vision h1 {
    color: #2763bd;
    text-align: center;
    margin-top: 40px;
}
.vision p {
    color: #6f9419e7;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 20px;
}

.mission {
    border: 1px solid skyblue;
    height: 300px;
    width: 400px;
    background-color: hsla(165, 71%, 34%, 0.906);
    border-radius: 10px;
}
.mission h1 {
    text-align: center;
}
.missionimg {
    border: 1px solid skyblue;
    height: 300px;
    width: 800px;
}
.missionimg img {
    height: 300px;
    width: 800px;
}
.same {
    float: left;
    margin-left: 45px;
}

.full {
    margin-bottom: 20px;
}

.footer {
    border: 1px solid skyblue;
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 97%;
    background-color: skyblue;
    border-radius: 10px;
    padding-left: 40px;
}

.socialnetwork {
    width: 33%;
}
.socialnetwork ul li {
    list-style-type: none;
}
.socialnetwork a {
    text-decoration: none;
    color: hsla(350, 88%, 44%, 0.842);
    font-size: 20px;
}
.socialnetwork-2 {
    width: 33%;
}
.socialnetwork-2 ul li {
    list-style-type: none;
}
.socialnetwork-2 a {
    text-decoration: none;
    color: hsla(350, 88%, 44%, 0.842);
    font-size: 20px;
}
.socialnetwork-3 {
    width: 33%;
}
.socialnetwork-3 ul li {
    list-style-type: none;
}
.socialnetwork-3 a {
    text-decoration: none;
    color: hsla(350, 88%, 44%, 0.842);
    font-size: 20px;
}

.anam {
    float: left;
}

.copyright {
    color: gray;
    font-size: 20px;
    text-align: center;

}